polygon {
  fill: none;
  stroke: #262626;
  stroke-width: 15px;
  stroke-location: inside;
  animation-name: bounce;
  animation-duration: 1900ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center; }

.shadow {
  stroke: #ccc; }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0px) scale(1); }
  50% {
    transform: translateY(50px) scaleY(0.96) scaleX(1.05); } }
